@font-face {
    font-family: 'Gilory Medium';
    src: url(./fonts/Gilroy-Medium.ttf);
}

@font-face {
    font-family: 'Gilory Bold';
    src: url(./fonts/Gilroy-Bold.ttf);
}


.Form {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 10px;
}

.FormText {
    width: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column; 
    margin: 2px; 
}
.FormTextTitle {
    font-size: 20px;
    font-family: Gilory Bold;
    color: black;
    margin-top:20px ;
    margin-bottom: 10px;
}

.FormImg {
    width: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.FormImgTitle {
    font-size: 20px;
    font-family: Gilory Medium;
    color: gray;
    margin-top:20px ;
    margin-bottom: 10px;
}
.FileButton {
    display: inline-block;
    padding: 100px; /* Ajusta según tus necesidades */
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 40px;
    cursor: pointer;
    font-size: 40px;
  }
  
  .FileInput {
    display: none;
  }

.FormButton {
    display: flex;
    justify-content: center;
}
.FormTextButton{
    font-family: Gilory Medium;
    color: gray;
}
.myButton {
    display: inline-block;
    padding: 4px 8px; 
    text-align: center;
    text-decoration: none;
    border: none;
    color: white;
    font-size: 20px;
    width: 20%;
    background-color: #ff5000; 
    border-radius: 15px; 
    cursor: pointer;
    margin: 40px;
    transition: background-color 0.3s;
}
.myButton:hover {
    background-color: white;
    color: #ff5000;
    border: 1px solid #ff5000;
    width: 20%;

  }

@media (max-width: 500px) {
    .FileButton {
        padding: 20px; 
        font-size: 20px;
    }
    .FormImgTitle {
        font-size: 10px;
        margin-top:1 0px ;
        margin-bottom: 5px;
    }
    .FormTextTitle {
        font-size: 10px;
        margin-top:40px ;
        margin-bottom: 5px;
    }
    .FormImg {
        width: 50vh;
        height: 50vh;
        align-items: center;
        
    }
    .FormTextButton{
        font-size: 10px;
    }
}
