
.NotaConteiner {
    display: grid;
    grid-template-columns: 1fr; 
    grid-gap: 20px; 
    padding: 20px;
    background-color: #EDEDED;
    font-family: 'Poppins', sans-serif;
}


.NotaTexConteiner {
    margin: 20px;
    text-align: justify;
}


.NotaImgConteiner {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.NotaImgConteiner img {
    max-width: 100%; 
    height: auto; 
}