.sliderContainer {
   
    overflow: hidden;
   
}
.slider {
    display: flex;
    cursor: grab;
}
.item {
    height: 10rem;
    max-width: 30rem;
    
}
.item img {
    height: 100%;
    width: 100%;
    pointer-events: none;
}