@font-face {
    font-family: 'Gilory Medium';
    src: url('./fonts/Gilroy-Medium.ttf');
}

@font-face {
    font-family: 'Gilory Bold';
    src: url('./fonts/Gilroy-Bold.ttf');
}


.conteiner {
    display:  flex;


}

.conteinerhome {
    margin: 0 auto; 
    background-color: transparent;
  }


/*Header*/
.conteinerHeader {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    width: 100%;
    height: 100%;
    
}

.SliderProducts{
    background-color: #fd5000;
    
     
}

.TexTitle {
font-family: Gilory Bold;
color: white;
font-size: 30px;
padding-left: 10%;
padding-top: 2%;
padding-bottom: 2%;

}



/*Body*/
.homeTextTitle {
    font-family: Gilory Bold;
    color: black;
    font-size: 40px; 
}
.homeText{
    font-family: 'Poppins', sans-serif;
    color: gray;
}

.conteinerBody{
    flex: 4; 
    width: 100%;
    height: 100%;
}

.conteinerBody2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60vh;
   

}

.conteinerBody21 {
    padding-top:  100px ;
    height: 100%vh; 
    padding-left: 10%;

}
.conteinerBody22 {
    width: 100%;
    max-height: 720px; 
}

.imagenHome{
    display: flex;
    width: 100%;
    height: 100%;
}
.conteinerBody3 {
    display: flex;
    width: auto;
    height: 350px;
    background-image: url('./assests/reseña1.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 

    
    
}
.conteinerBody4 {
    padding-top: 5%;
    
}




.conteinerBody32 {
    padding: 50px;
    width: 100%;
    max-width: 500px; 
    margin: 0 auto; 
}

.conteinerBody31{
    width: 50%;
    height: 100vh; 
    
}

.conteinerBodyText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: flex-start;
}

.myButtonHome {
    margin-top: 20px;
    display: inline-block;
    padding: 4px 8px; 
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #fd5000; 
    border-radius: 20px; 
    cursor: pointer;
    
}







/*Footer*/

.conteinerFooter {
    flex: 1; 
    background-color: black; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}
.footerSocial {
    display: flex;
    flex-direction: row;
    align-items: center; 
}
.footerSocialTitle {
    font-family: Gilory Bold;
    color: #ff5000;
    font-size: 30px;
    margin-right: 10px; 
}
.footerLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
}
.Links {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    padding: 20px;
}
.footerTex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 

}
.footerTex1{
    color: white;
    padding: 20px;
    font-size: 10px;
    font-family: Gilory Medium;
    text-decoration: overline ;

}
.footerTex2{
    color: white;
    padding: 20px;
    font-size: 10px;
    font-family: Gilory Medium;

}



@media (max-width: 800px) {
    .conteinerHeader {
     
        width: 100%;
        height: 100%;
        
    }
    /*Headers*/
    .TexTitle{
        font-size: 20px;
        padding-left: 5%;
    }

    /*Slioder*/
    .imagenHome{
        display: flex;
        height: 100%;
    }
    .conteinerBody2 {
        display: flex;
        flex-direction: column;
        margin-bottom: 200px;
    }
    .conteinerBody21 {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        height: 50vh; 
    }
    
    .conteinerBody22 {
        width: 100%;
        height: 50vh; 
    }
    
    

    .conteinerBody31{
        width: 50%;
        height: 30vh; 
        
    }
    .conteinerBody4 {
        padding-top: 0;
        
    }
    



    /*Footer*/

    .footerSocial {
        flex-direction: column;
        text-align: center;
    }

    .footerSocialTitle {
        margin-right: 0; 
    }

    .footerLinks {
        flex-direction: column;
    }

    .Links {
        padding: 10px;
    }

    .footerTex {
        flex-direction: column;
    }
    
    .footerTex1,
    .footerTex2 {
        padding: 10px;
    }
}


@media (max-width: 500px) {

    .conteinerBody31{
        width: 50%;
        height: 10vh; 
        
    }
    .conteinerBody32 {
        width: 50%;
        height: 10vh;
    }
    
}

