@font-face {
    font-family: 'Gilory Medium';
    src: url('./fonts/Gilroy-Medium.ttf');
}

@font-face {
    font-family: 'Gilory Bold';
    src: url('./fonts/Gilroy-Bold.ttf');
}


.conteiner {
    display:  flex;
    width: 100%;
    height: 100%;
}


/*Header*/
.conteinerHeader {
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    width: 100%;
    height: 100%;
    
}

.SliderProducts{
    background-color: #ff5000;
     
}

.TexTitle {
font-family: Gilory Bold;
color: white;
font-size: 30px;
margin: 30PX;

}



/*Body*/
.homeTextTitle {
    font-family: Gilory Bold;
    color: black;
    font-size: 40px; 
}
.homeText{
    font-family: Gilory Medium;
    color: gray;
}

.conteinerBody{
    flex: 3; 
    width: 100%vh;
    height: 100vh;
}

.conteinerBody2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

.conteinerBody21 {
    padding-top:  100px ;
    width: 50%;
    height: 100%vh; 
}

.conteinerBody22 {
    width: 70%;
    height: 100%vh; 
}
.imagenHome{
    display: flex;
    width: 100%;
    height: 100%;
}
.conteinerBody3 {
    display: flex;
    flex: 1;
    background-image: url('./assests/imagen1.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    padding: 50px; /* Ajusta el relleno según tus necesidades */
    
}
.conteinerBody31{
    width: 50%;
    height: 100vh; 
    
}
.conteinerBody32 {
    width: 50%;
    height: 100vh;
}
.conteinerBodyText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: flex-start;
    margin: 30px;
}

.myButtonHome {
    margin-top: 20px;
    display: inline-block;
    padding: 4px 8px; /* Ajusta el padding según tus necesidades */
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #ff5000; /* Color de fondo del botón */
    border-radius: 20px; /* Bordes redondos */
    cursor: pointer;
    margin-left: 40px;
}







/*Footer*/

.conteinerFooter {
    flex: 1; 
    background-color: black; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}
.footerSocial {
    display: flex;
    flex-direction: row;
    align-items: center; 
}
.footerSocialTitle {
    font-family: Gilory Bold;
    color: #ff5000;
    font-size: 30px;
    margin-right: 10px; 
}
.footerLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
}
.Links {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    padding: 20px;
}
.footerTex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 

}
.footerTex1{
    color: white;
    padding: 20px;
    font-size: 10px;
    font-family: Gilory Medium;
    text-decoration: overline ;

}
.footerTex2{
    color: white;
    padding: 20px;
    font-size: 10px;
    font-family: Gilory Medium;

}



@media (max-width: 800px) {
    .conteinerHeader {
     
        width: 100%;
        height: 100%;
        
    }
    /*Headers*/
    .TexTitle{
        font-size: 20px;
    }
    /*Slioder*/
    .imagenHome{
        display: flex;
        height: 100%;
    }
    .conteinerBody2 {
        display: flex;
        flex-direction: column;
    }
    .conteinerBody21 {
        padding-top: 10px;
        width: 100%;
        height: 50vh; 
    }
    
    .conteinerBody22 {
        width: 100%;
        height: 50vh; 
    }
    
    
    .conteinerBody3 {

    }
    .conteinerBody31{
        width: 50%;
        height: 30vh; 
        
    }
    .conteinerBody32 {
        width: 50%;
        height: 30vh;
    }
    



    /*Footer*/

    .footerSocial {
        flex-direction: column;
        text-align: center;
    }

    .footerSocialTitle {
        margin-right: 0; 
    }

    .footerLinks {
        flex-direction: column;
    }

    .Links {
        padding: 10px;
    }

    .footerTex {
        flex-direction: column;
    }
    
    .footerTex1,
    .footerTex2 {
        padding: 10px;
    }
}


@media (max-width: 500px) {
    .conteinerBody3 {

    }
    .conteinerBody31{
        width: 50%;
        height: 10vh; 
        
    }
    .conteinerBody32 {
        width: 50%;
        height: 10vh;
    }
    
}

