
 @font-face {
    font-family: Gilory Medium;
    src: url(./fonts/Gilroy-Medium.ttf);
}


 .navBar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
  
  .logoContainer, .linksContainer, .iconsContainer {
    display: flex;
    align-items: center;
  }

  .linksConteiner {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .links {
    text-decoration: none;
    color: black;
    font-size: 0.6rem;
    margin: 0 15px;
    font-family: 'Poppins', sans-serif;
  }
  
  .logo {
    width: 100px;
  }
  
  .iconsContainer {
    display: flex;
    padding-left: 20%;
    
  }
  .logoContainer{
    display: flex;
    padding-right: 20%;
  }
  
  .icon {
    margin-left: 10px; /* Ajusta el espacio entre los iconos */
    width: 20px; /* Ajusta el tamaño de los iconos según sea necesario */
    height: 20px;
  }
  
  .navOpen {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .navOpen .logoContainer {
    margin-bottom: 20px; 
  }
  
  .navOpen .linksContainer {
    width: 100%;
    margin: 20px 0; 
    text-align: center;
    justify-content: center;
  }
  
  .navOpen .linksConteiner {
    flex-direction: column;
    justify-content: center; 
  }
  
  .navOpen .iconsContainer {
    width: 100%;
    justify-content: center;
  }
  
  @media (max-width: 800px) {
    .iconsContainer {
        margin: 0;
        padding: 0;
        padding-left: 200px; /* Ajusta el margen derecho en la versión móvil */
      }
      .navOpen .iconsContainer {
        flex-direction: column;
        align-items: center;
        padding-left: 0;
        justify-content: center;
    }
  
  }

  @media (max-width: 400px) {
    .iconsContainer {
        margin: 0;
        padding: 0;
        padding-left: 100px; /* Ajusta el margen derecho en la versión móvil */
    }
    .navOpen .iconsContainer {
        flex-direction: column;
        align-items: center;
        padding-left: 0;
        justify-content: center;
    }
  }
  