
 @font-face {
    font-family: Gilory Medium;
    src: url(./fonts/Gilroy-Medium.ttf);
 }
.navBar {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: FFFFFF;
    
}
.navOpen {
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    align-items: center;
    width: 100%;
    height: 35%;
    background-color: white;
    opacity: 60%;
}

.links {
    display: flex;
    font-size: 1rem;
    font-weight: 300;
    padding-top: 20px;
    font-family: Gilory Medium;

    
}

.links:hover {
    cursor: pointer;
}

.logo {
    width: 200px;
}



@media ( min-width : 800px) {
    .navBar{
        align-items: center;
        align-content: center;
        justify-content: space-between;

    }
    .linksConteiner {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    
    }
    .links {
        display: flex;
        font-size: 1rem;
        font-weight: 200;
    
    }
}

