
@font-face {
    font-family: Gilory Medium;
    src: url(./fonts/Gilroy-Medium.ttf);
    font-family: Gilory Bold;
    src: url(./fonts/Gilroy-Bold.ttf);
}

.conteiner {
  display: flex;
  flex-direction: column; 
}
.conteinerBlog {
    background-color: #cccc;
}

/*Banner*/

.bannerConteiner {
  flex: 1; 
  margin-top: 100px;
  
 
}
.Banner {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center; 

}
.BannerTex {
   
    width: 100vh;
    height: 50vh;


}
.BannerTexTitle {
    font-family: Gilory Bold;
    color: white;
    font-size: 70px;
    
}
.BannerTexSubTitle {
    font-family: Gilory Medium;
    color: white;
    font-size: 20px;
}
.BannerTexBody {
    font-family: Gilory Medium;
    color: white;
    font-size: 10px;
}
.BannerImg {
    width: 60vh;
    height: 50vh;
}
.img {
    width: 100%;
    height: 100%;
}



/*Card*/



.menuSlider {
    margin: 0;
    display: flex;
    flex-direction: row;
    width: 100%; 
    background-color: white;
    justify-content: space-evenly;
    align-items: center;
  }
.menuSliderTex {
    text-decoration: none;
    margin: 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
       
    
    
}
.menuSliderTex p{
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: center;
    margin: 20px;

} 



.conteinerCards {
    flex: 3; 
    margin: 0 auto;
    padding: 30px;
    background: color ddd 5c 5px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}


.texSlider {
    font-family: Gilory Bold;
    color: #fd5000;
    font-size: 30px;
    margin-top: 10px;
    letter-spacing: 3px;
    text-align: center;
    
}



.cardSlider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}
.myButton {
    display: inline-block;
    padding: 10px 20px; /* Ajusta el padding según tus necesidades */
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #fd5000; /* Color de fondo del botón */
    border-radius: 20px; /* Bordes redondos */
    cursor: pointer;
    
}








/*Media*/


@media (max-width: 1000px) {
    /*Slioder*/
    .conteinerCards {
        padding: 10px; 
    }
    .slider {
        flex-direction: column; 
        align-items: center; 
    }
    
    .menuSlider {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
      
    .menuSliderTex {
        margin: 10px;
        width: calc(33.33% - 20px); 
      }
}



@media (max-width: 800px) {
    /*Banner*/
    /*Slioder*/
    .conteinerCards {
        padding: 10px; 
    }
    .slider {
        flex-direction: column; 
        align-items: center; 
    }
    
    .menuSlider {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
      
    .menuSliderTex {
        margin: 10px;
        width: calc(33.33% - 20px); 
      }

    /*Footer*/

}

@media (max-width: 400px) {
    .menuSliderTex {
        font-size: 10px;      
    }
    .BannerTexBody {
        margin: 10px;
        font-size: 10px;
    }
}