
@font-face {
    font-family: Gilory Medium;
    src: url(./fonts/Gilroy-Medium.ttf);
    font-family: Gilory Bold;
    src: url(./fonts/Gilroy-Bold.ttf);
}

.conteiner {
  display: flex;
  flex-direction: column;
  height: 100vh; 
}

/*Banner*/

.conteinerBanner {
  flex: 1; 
  background-color: #ff5000;
 
}
.Banner {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center; 

}
.BannerTex {
   
    width: 100vh;
    height: 50vh;

}
.BannerTexTitle {
    font-family: Gilory Bold;
    color: white;
    font-size: 70px;
    
}
.BannerTexSubTitle {
    font-family: Gilory Medium;
    color: white;
    font-size: 20px;
}
.BannerTexBody {
    font-family: Gilory Medium;
    color: white;
    font-size: 10px;
}
.BannerImg {
    width: 60vh;
    height: 50vh;
}
.img {
    width: 100%;
    height: 100%;
}



/*Card*/



.menuSlider {
    display: flex;
    flex-direction: row;
    width: 100%; 
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
  }
.menuSliderTex {
    margin: 20px;
    cursor: pointer;
   
       
    
    
}
.menuSliderTex p{
    color: #ff5000;
    font-family: Gilory bold;
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: center;
    margin: 20px;

} 



.conteinerCards {
    flex: 3; 
    margin: 0 auto;
    padding: 30px;
    background: color ddd 5c 5px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
  }

.containerSlider {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 20px;
    overflow: hidden;
    border: 1px solid #ddd; 
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    background-color: white;
}
.texSlider{
    font-family: Gilory Bold;
    color: #ff5000;
    font-size: 30px;
    margin-right: 10px; 
}







/*Footer*/

.conteinerFooter {
    flex: 1; 
    background-color: black; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}


.footerSocial {
    display: flex;
    flex-direction: row;
    align-items: center; 
}

.footerSocialTitle {
    font-family: Gilory Bold;
    color: #ff5000;
    font-size: 30px;
    margin-right: 10px; 
}

.footerLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
}

.Links {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    padding: 20px;
}
.footerTex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 

}
.footerTex1{
    color: white;
    padding: 20px;
    font-size: 10px;
    font-family: Gilory Medium;
    text-decoration: overline ;

}
.footerTex2{
    color: white;
    padding: 20px;
    font-size: 10px;
    font-family: Gilory Medium;

}



/*Media*/



@media (max-width: 800px) {
    /*Banner*/
    .img {
        display: none;
    }
    .BannerImg {
        display: none;
    }
    .BannerTex {
        width: 100%; 
        height: 100%; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    }

    .BannerTexTitle {
        font-size: 40px; 
    }

    .BannerTexSubTitle {
        font-size: 16px; 
    }

    .BannerTexBody {
        font-size: 8px; 
    }

    /*Slioder*/
    .conteinerCards {
        padding: 10px; 
    }
    .slider {
        flex-direction: column; 
        align-items: center; 
    }
    .menuSlider {
        flex-direction: column; /* Cambia a dirección de columna en pantallas pequeñas */
        align-items: center; /* Centra los elementos */
    }
    
    .menuSliderTex {
        margin: 10px; /* Ajusta el margen para que se vea mejor en pantallas pequeñas */
    }

    /*Footer*/

    .footerSocial {
        flex-direction: column;
        text-align: center;
    }

    .footerSocialTitle {
        margin-right: 0; 
    }

    .footerLinks {
        flex-direction: column;
    }

    .Links {
        padding: 10px;
    }

    .footerTex {
        flex-direction: column;
    }
    
    .footerTex1,
    .footerTex2 {
        padding: 10px;
    }
}
