/* banner.css */

@font-face {
    font-family: Gilory Medium;
    src: url(./fonts/Gilroy-Medium.ttf);
    font-family: Gilory Bold;
    src: url(./fonts/Gilroy-Bold.ttf);
}
.banner-container {
    display: flex;
  }
  
  .div1{
    
        flex: 3;
        display: flex;
        flex-direction: column;

      
  }
  .div3 {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .stripe-1,
  .stripe-2,
  .stripe-8 {
    width: 100%;
  }
  
  .stripe-1 {
    flex: 1;
    background-color: white;
  }
  
  .stripe-2 {
    flex: 1;
    background-color: white;
  }
  
  .stripe-8 {
    flex: 8;
    color: #cccc;
  }
  
  .div1 .stripe-8,
  .div3 .stripe-8 {
    background-color: #fd5000;
  }
  
  .half-width {
    flex: 3;
    display: flex;
    flex-direction: column;
  }
  
  .div3 {
    width: 20vh;
  }
  
  .banner-image {
    width: 100%;
    object-fit: cover;
  }
  
  .BannerTex {
    width: 100%;
    height: auto;
    margin: 10%;
    text-align: start;
  }
  
  .BannerTexTitle {
    font-family: Gilory Bold;
    color: white;
    font-size: 70px;
  }
  
  .BannerTexSubTitle {
    font-family: Gilory Medium;
    color: white;
    font-size: 50px;
  }
  
  .BannerTexBody {
    font-family: Gilory Medium;
    color: white;
    font-size: 10px;
    margin-right: 10%;
  }

  .buttonBanner {
    display: inline-block;
    padding: 10px 20px; /* Ajusta el padding según tus necesidades */
    text-decoration: none;
    color: white;
    background-color: #fd5000; /* Color de fondo del botón */
    border-radius: 20px; /* Bordes redondos */
    cursor: pointer;
    border : 1px solid white;
    margin-left: 20%;
    
  }

  
  @media (min-width: 1001px) {
    .BannerTex {
      margin-left: 10vh;
      margin-right: 15vh;
    }
  }

@media (max-width: 1000px) {

  .div3 {
      display: none;
      }
 
}  

@media (max-width: 850px) {
  .half-width {
     display: none;
  }
  .banner-image {
     display: none;
  }
  .div3 {
      display: none;
  }
  .img {
      display: none;
    }
    .BannerImg {
      display: none;
    }
    .BannerTex {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0;
    }
    .buttonBanner {
      margin-top: 5%;
      margin-left: 0%;
      
    }
  
    .BannerTexTitle {
      font-size: 40px;
    }
  
    .BannerTexSubTitle {
      font-size: 16px;
    }
  
    .BannerTexBody {
      font-size: 8px;
      margin: 0;
    }
} 

@media (max-width: 500px) {

  .BannerTexBody {
    text-align: center;
  }
} 

